{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block content %}

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {% for field in form %}
          <div class="form-group">
              {{ field }}
          </div>
      {% endfor %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-primary btn-fill" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>

{% endblock %}
