{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div style="margin-bottom:20px;" class="socialaccount_ballot">
    <div style="margin:auto; width:240px;" id="my-signin2"></div>
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<div style="margin:auto; width:240px;">
{% for key, value in form.errors.items %}
<span style='color:red; list-style:none;'>{% if key != '__all__' %}{% endif %}{{ value }}</span>
{% endfor %}
<form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          {{ field }}
      </div>
  {% endfor %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary btn-fill" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
    <p style="color:white;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>

{% endblock %}
