{% load static %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <title>ease-a</title>

    <link href="{% static 'english/assets/css/bootstrap.css' %}" rel="stylesheet" />
	<link href="{% static 'english/assets/css/coming-sssoon.css' %}" rel="stylesheet" />

    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

	{% load google_analytics_tags %}
	<div style="display:none">
	    <img src="{% google_analytics %}" width="0" height="0" />
	</div>
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet'>
</head>

<body>
<!-- Brand and toggle get grouped for better mobile display -->
<!--
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
-->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{% static 'english/assets/images/flags/US.png' %}"/>
                Login
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="{% static 'english/assets/images/flags/DE.png' %}"/> Deutsch</a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/GB.png' %}"/> English(UK)</a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/FR.png' %}"/> Français</a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/RO.png' %}"/> Română</a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/IT.png' %}"/> Italiano</a></li>

                <li class="divider"></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/ES.png' %}"/> Español <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/BR.png' %}"/> Português <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/JP.png' %}"/> 日本語 <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="{% static 'english/assets/images/flags/TR.png' %}"/> Türkçe <span class="label label-default">soon</span></a></li>

              </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#">
                    <i class="fa fa-facebook-square"></i>
                    Like
                </a>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
            </li>
             <li>
                <a href="#">
                    <i class="fa fa-gittip"></i>
                    Gittip
                </a>
            </li>
       </ul>

    </div><!-- /.navbar-collapse -->
    <!-- -->
  </div><!-- /.container -->
</nav>
<div class="main" style="background-image: url('{% static 'english/assets/images/writer_wallpaper.jpg' %}')">

<!--    Change the image source '/images/restaurant.jpg')" with your favourite image.     -->

<div class="cover black" data-color="black"></div>

<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo">
            Payment Checkout
        </h1>
        <div class="content">
            <div class="subscribe">
                <h5 class="info-text">
						Your essay will be corrected and sent to you within <strong>24 hours</strong> of completed payment. <br /><br />
						Your essay has <u>{{ words }} words</u>.
                </h5>
                <div class="row">
                    <div class="col-md-8 col-md-offset-0 col-sm6-4 col-sm-offset-1 ">
						<div class="paper">
						    <div class="paper-content">
						        <textarea readonly>{{ essay.essay_text }}</textarea>
						    </div>
						</div>
					</div>
					<div class="col-md-4 col-md-offset-0 col-sm6-4 col-sm-offset-1 payment-choices-box">
						<h5 class="info-text"><strong>Choose your payment method</strong></h5>
                        <!-- Set up a container element for the button -->
                        <div id="paypal-button-container"></div>
                        <!-- Include the PayPal JavaScript SDK -->
                        <script src="https://www.paypal.com/sdk/js?client-id=AcCS6uqyTktqYnZnyGOo_uz71Qk0rLsm1NHJ0FsMHqaiGIPnXcR83syGD2OAgBpPPhhWKSQrYcf9OAl_&currency=EUR"></script>

                        <script>

                            function getCookie(name) {
                                let cookieValue = null;
                                if (document.cookie && document.cookie !== '') {
                                    const cookies = document.cookie.split(';');
                                    for (let i = 0; i < cookies.length; i++) {
                                        const cookie = cookies[i].trim();
                                        // Does this cookie string begin with the name we want?
                                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                            break;
                                        }
                                    }
                                }
                                return cookieValue;
                            }
                            const csrftoken = getCookie('csrftoken');

                            var total = '{{ essay.price }}'
                            var essay_id = '{{ essay.essay_id }}'

                            function completePayment(){
                                var url = "{% url 'english:payment_success_backend' %}"

                                fetch(url, {
                                    method: 'POST',
                                    headers:{
                                        'Content-type':'appliction/json',
                                        'X-CSRFToken': csrftoken,
                                    },
                                    body:JSON.stringify({'essay_id': essay_id})
                                })
                            }

                            // Render the PayPal button into #paypal-button-container
                            paypal.Buttons({

                                // Set up the transaction
                                createOrder: function(data, actions) {
                                    return actions.order.create({
                                        purchase_units: [{
                                            amount: {
                                                value: total
                                            }
                                        }]
                                    });
                                },

                                // Finalize the transaction
                                onApprove: function(data, actions) {
                                    return actions.order.capture().then(function(details) {
                                        // Show a success message to the buyer
                                        completePayment()
                                        window.location.href = "{% url 'english:payment_result' %}?essay_id={{ essay.essay_id }}";
                                    });
                                }


                            }).render('#paypal-button-container');
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
   <script src="{% static 'english/assets/js/jquery-1.10.2.js' %}" type="text/javascript"></script>
   <script src="{% static 'english/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>

</html>
