{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'english/assets/images/apple-icon.png' %}">
	<link rel="icon" href="{% static 'english/assets/images/logo.jpg' %}" type="image/gif" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    ease-a
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'english/assets/css/material-kit.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static 'english/assets/demo/demo.css' %}" rel="stylesheet" />
  <link href="{% static 'english/assets/demo/vertical-nav.css' %}" rel="stylesheet" />

	{% load google_analytics_tags %}
	<div style="display:none">
		<img src="{% google_analytics %}" width="0" height="0" />
	</div>

	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:1960796,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>
</head>

<body class="blog-posts sidebar-collapse">
  <nav class="navbar fixed-top navbar-expand-lg" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          ease-a </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
				{% if user.username %}
					<ul class="navbar-nav ml-auto">
            <li class="nav-item">
		          <a href="/profile" class="nav-link">
		            <img class="media-object material-icons" src="{% static 'english/assets/images/identicons/'|add:user.profile.default_profile_picture|add:'.png' %}" alt="..."><span id="profile_icon"></span>
		          </a>
		        </li>
		        <li class="nav-item">
		          <a href="/#submit-question" class="nav-link">
		            <span id="questions_icon"><i class="material-icons">live_help</i></span>
		          </a>
		        </li>
						<li class="nav-item">
							<a href="/market" class="nav-link">
								<span id="answers_icon"><i class="material-icons">storefront</i></span>
							</a>
						</li>
						<li class="dropdown nav-item">
		          <a href="#" id="read_notifications" class="nav-link" data-toggle="dropdown">
                  {% if has_unread_notifications %}
                    <span class="soft-red-color" id="notifications_icon"><i class="material-icons">notifications_active</i></span>
                  {% else %}
		                <span id="notifications_icon"><i class="material-icons">notifications</i></span>
                  {% endif %}
              </a>
              <div class="dropdown-menu dropdown-with-icons">
								<!-- notification system -->
								{% for notification in notifications|slice:":20" %}
                <a href="/correction?essay_id={{ notification.action_object }}#{{ notification.target_object_id }}" class="dropdown-item {% if notification.verb == "won question" %}background-light-green{% elif notification.unread == True %} background-light-blue {% endif %}">
									<span style="font-size:0.85em;">{% if notification.verb == "won question" %}<strong>WINNER!</strong> You got the winning answer{% elif notification.verb == "answered question" %}@{{ notification.actor.username }} answered your question {% elif notification.verb == "also answered question" %}@{{ notification.actor.username }} also answered a question you are following {% elif notification.verb == "end question" %}A question you are following has ended {% endif %}<span style="font-size:0.7em;"> {{ notification.time_ago }}</span></span>
                </a>
								{% endfor %}
              </div>
		        </li>
            <li class="dropdown nav-item">
              <a href="#" class="nav-link" data-toggle="dropdown">
                <span id="menu_other"><i class="material-icons">menu</i></span>
              </a>
              <div class="dropdown-menu dropdown-with-icons">
                <a href="/accounts/logout" class="dropdown-item">
                  <i class="material-icons">meeting_room</i>Logout<br />
                </a>
              </div>
            </li>
						<li class="button-container nav-item iframe-extern">
							<a href="/get_coins" class="btn btn-rose btn-round btn-block">
								<strong><span style="font-size:1.1em;">{{ user.profile.coins }} <i class="material-icons">copyright</i></span></strong>
							</a>
						</li>
		      </ul>
				{% else %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
              <a href="/#submit-question" class="nav-link">
		            <span id="questions_icon"><i class="material-icons">live_help</i></span>
		          </a>
						</li>
						<li class="nav-item">
              <a href="/market" class="nav-link">
								<span id="answers_icon"><i class="material-icons">storefront</i></span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/accounts/login" class="nav-link">
								<i class="material-icons">login</i> Login
							</a>
						</li>
						<li class="button-container nav-item iframe-extern">
							<a href="/accounts/signup" class="btn btn-rose btn-round btn-block">
								<i class="material-icons">person_add</i> Sign up
							</a>
						</li>
				</ul>
				{% endif %}
      </div>
    </div>
  </nav>
  <div class="page-header header-filter header-small" data-parallax="false" style="background-image: url('{% static 'english/assets/images/blue_fade_background.jpg' %}'); background-repeat: repeat-y; height:100%; padding-top:80px; padding-bottom:80px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto text-center">
          <h3 class="title"><span style="color:yellow;">{{ essay.bounty }} coins</span></h3>
          <p>{{ essay_html|safe }}</p>
          <span class="title"><a style="color:rgb(255,255,255);" href="/profile?username={{ essay.author.username }}">@{{ essay.author }}</a></span><a href="#pablo" class="btn btn-danger btn-link"><i class="material-icons">favorite</i>{{ essay.upvotes }}</a>{{ essay.views }} views
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div id="section-answers" class="section section-comments">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h5 class="text-center">{% if user.username and user.username and essay.author == user and has_ended == False %}Click the best answer to choose a winner{% endif %}</h5>
              {% for answer in answer_list %}
              <div class="media" id="{{ answer.answer_id }}">
                <a class="float-left" href="/profile?username={{ answer.author.username }}">
                  <div class="avatar">
                    <img class="media-object" src="{% static 'english/assets/images/identicons/'|add:answer.author.profile.default_profile_picture|add:'.png' %}" alt="...">
                  </div>
                </a>
								{% if user.username and essay.author == user and has_ended == False and user != answer.author %}
								<a href='/winner?essay_id={{ essay.essay_id }}&answer_id={{ answer.answer_id }}'>
                <div class="media-body hover-light-green">
								{% elif answer.winner == True %}
                <div class="media-body background-light-green">
                {% else %}
								<div class="media-body">
								{% endif %}
                  <h4 class="media-heading">{{ answer.author.username|safe }}<small>&#xB7; {% if answer.winner == True %}<span style="color:ORANGE;"><strong>WINNER</strong></span>{% endif %}&#xB7; {{ answer.get_date }}</small></h4>
                  <h6 class="text-muted"></h6>
                  <p>{{ answer.answer_text|safe }}</p>
                  <div class="media-footer">
                    <a href="#pablo" class="btn btn-danger btn-link float-right">
                      <i class="material-icons">favorite</i> {{ answer.upvotes }}
                    </a>
                  </div>
                </div>
								{% if user.username and essay.author == user and has_ended == False and user != answer.author %}
								</a>
								{% endif %}
              </div>
              {% endfor %}
            </div>
						{% if user.username %}
            <div class="media media-post">
              <a class="author float-left" href="#pablo">
                <div class="avatar">
                  <img class="media-object" alt="64x64" src="{% static 'english/assets/images/identicons/'|add:user.profile.default_profile_picture|add:'.png' %}">
                </div>
              </a>
              <div class="media-body">
                <form action="/post_answer" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="essay_id" value="{{ essay.essay_id }}">
                  <div class="form-group label-floating bmd-form-group">
                    <label class="form-control-label bmd-label-floating" for="exampleBlogPost"> Write your answer ...</label>
                    {% for field in answer_form.visible_fields %}
      							  {{ field }}
      							{% endfor %}
                  </div>
                  <div class="media-footer">
                    <button href="#pablo" class="btn btn-primary btn-round btn-wd float-right" type="submit">Post Answer</button>
                  </div>
                </form>
              </div>
            </div> <!-- end media-post -->
						{% else %}
							<div class="col-md-6 ml-auto mr-auto text-center">
								<form action="/accounts/signup" method="get">
									<button style="width:100%;" class="btn btn-danger btn-raised" type="submit">
										Sign up to answer
									</button>
								</form>
							</div>
						{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
	<footer class="footer footer-default">
    <div class="container">
			<!--
      <nav class="float-left">
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="https://creative-tim.com/presentation">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
          <li>
            <a href="https://www.creative-tim.com/license">
              Licenses
            </a>
          </li>
        </ul>
      </nav>
			-->
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> by Max (@braingoesbrr) for better learning.
      </div>
    </div>
  </footer>
	<div class="modal fade" id="firstQuestionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="firstLoginModalTitle">Awesome job!</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span><strong>Now let's wait for the community to answer your question</strong></span> <br /><br />
					<span style="font-size:0.85em;">Remember to reward the best answer by clicking on it, within 48 hours. If nobody answers in 48 hours you get your coins back.</span> <br /><br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Understood!</button>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script>var element = document.getElementById("{{ scroll_section_id }}"); element.scrollIntoView();</script>
  <script src="{% static 'english/assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'english/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'english/assets/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'english/assets/js/plugins/moment.min.js' %}"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="{% static 'english/assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'english/assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'english/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'english/assets/js/plugins/bootstrap-selectpicker.js' %}" type="text/javascript"></script>
  <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'english/assets/js/plugins/jasny-bootstrap.min.js' %}" type="text/javascript"></script>
  <!--	Plugin for Small Gallery in Product Page -->
  <script src="{% static 'english/assets/js/plugins/jquery.flexisel.js' %}" type="text/javascript"></script>
  <!-- Plugins for presentation and navigation  -->
  <script src="{% static 'english/assets/demo/modernizr.js' %}" type="text/javascript"></script>
  <script src="{% static 'english/assets/demo/vertical-nav.js' %}" type="text/javascript"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
  <script src="{% static 'english/assets/demo/demo.js' %}" type="text/javascript"></script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'english/assets/js/material-kit.js' %}" type="text/javascript"></script>
	<script>
  if(window.screen.width<992){
    document.getElementById("questions_icon").append(" Ask question");
    document.getElementById("answers_icon").append(" Answers");
    document.getElementById("menu_other").append(" Other");
    document.getElementById("notifications_icon").append(" Notifications");
    document.getElementById("profile_icon").append(" Profile");
  }
  </script>
  <script>
    // Create Django Ajax Call
    window.onload = function() {
      read_notifications = document.getElementById("read_notifications")
      read_notifications.onclick = function() {
          // Create Ajax Call
          $.ajax({
              url: '/read_notifications',
              data: {
                  'username': '{{ user.username }}',
              },
              dataType: 'json',
          });
        return false;
      };
  }
  </script>
  <script>
    click_notification = document.getElementById("notifications_icon")
    click_notification.onclick = function() {
        if ($(this).find('i').text() == 'notifications_active'){
            $(this).find('i').text('notifications');
        }
        click_notification.classList.remove("soft-red-color");
    }
  </script>
	<script>
  var queryDict = {}
  location.search.substr(1).split("&").forEach(function(item) {queryDict[item.split("=")[0]] = item.split("=")[1]})
	if (queryDict['first_question'] == 'true') {
		$('#firstQuestionModal').modal('show');
	}
	</script>
</body>

</html>
