<!DOCTYPE html>

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AepAHC6vwsZ-or_rY0hggQ6-e-Rt_3mkiINDyUIq5akG2DZJIOjiVwJoYxfPgcmXeyytf0adbyGfqa8a&currency=EUR"></script>

    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        var total = '{{ essay.price }}'
        var essay_id = '{{ essay.essay_id }}'

        function completePayment(){
            var url = "{% url 'english:payment_success_backend' %}"

            fetch(url, {
                method: 'POST',
                headers:{
                    'Content-type':'appliction/json',
                    'X-CSRFToken': csrftoken,
                },
                body:JSON.stringify({'essay_id': essay_id})
            })
        }

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completePayment()
                    window.location.href = "{% url 'english:payment_result' essay.essay_id %}";
                });
            }


        }).render('#paypal-button-container');
    </script>
</body>
