<h1> Payment Successful </h1>

Follow the instructions that are sent to your email.
<br />
<br />
Also check the spam folder.
<br />
<br />
Click <a href="">here</a> to resend the email.
<br />
<br />
Wrong email?
<br />
<br />
Click <a href="">here</a> to enter a new one.
<br />
<br />
<h4> Create an account and keep track of everything </h4>
<form action="" method="POST">
<input type="password" placeholder="Password">
<input type="password" placeholder="Password again">
<input type="submit" value="Sign up">
